* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__posts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__header {
  position: sticky;
  top: 0;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}